.appointment-list-container {
  display: flex;
  width: 40%;
}

.appointment-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.appointment-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid #493018;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  min-width: 464px;
}

.appointment-with {
  padding: 10px;
}

.cancel-appointment {
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-align: center;
  background-color: rgb(202, 17, 17);
  height: 45px;
  min-width: 30%;
  max-width: 30%;
  border-radius: 10px;
  /* margin-left: 15%; */
  /* padding: 20px; */
}

.cancel-appointment:hover {
  background-color: rgb(148, 11, 11);
  cursor: pointer;
}

.cancel-appointment:active {
  background-color: rgb(173, 14, 14);  
}

.appointment-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: left;
}