@import url(./css_reset.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat');

* {
  box-sizing: border-box;
}

body {
    text-align: center;
    /* border: 1px solid gray; */
    font-family: 'Montserrat', sans-serif;
    color: rgb(21, 21, 21);
    background-color: #fffbf8;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: a */
    /* border: 1px dashed black; */
    border-bottom: 1px dashed black;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border: 1px solid green;
    background-image: linear-gradient(#2B4F60, #244757);
}

.nav-bar > a {
    color:white;
    text-decoration: none;
}

.logo-main {
    background-image: url("https://raw.githubusercontent.com/acrks/cutAbove/main/frontend/public/cutAboveLogoBold.png");
    width: 200px;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* border: 1px solid blue; */
    filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(306deg) brightness(111%) contrast(100%);
}

.signup-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 200px;
    width: 100%;
    height: 10vh;
    font-size: 25px;
    border: 1px solid black;
}

.signup-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.buttonforsignupform {
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#889EAF, #889EAF);
    border-radius: 5px;
    text-shadow: 0px 0px 2px #778fa1;
    /* -webkit-text-stroke: 1px #D3E7EE; */
}

/* .session-form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
    font-size: 25px;

} */

.form-container {
  width: 56%;
  height: 580px;
  display: flex;
  flex-direction: row;
  margin: 30px;
  box-shadow: 5px 5px 15px 0px #476a79;
}

.client-sign-up-model {
  width: 50%;
  height: auto;

}

.session-form-title {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  padding-bottom: 40px;
  font-size: 25px;
}


.session-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: auto;
  max-width: 750px;
  /* padding: 15px; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 25px;

  background-color: #FDF6F0;
}

.session-form form {
  height: 80%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}


.session-form input[type='text'], 
input[type='password'] {
  height: 38px;
  padding: 15px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #fffcf9;
  border-radius: 20px;
  border: 1px solid;
  border-color: #ABD1DC;
}  

.session-form input[type='submit'] {
  width: 100%;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: #7ab5c5;
  border: none;
  padding: 8px;
  color: white;
  /* text-shadow: 2px 2px 2px #7097A8; */
  font-size: 17px;
  text-decoration: none;
  /* background-image: linear-gradient(#889EAF, #889EAF); */
  border-radius: 9px;
}

.errors {
  color: red;
  padding: 10px;
}

.splashPage {
  border: 1px solid salmon;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.book-appointment {
  height: 15%;
  width: 100%;
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url('https://previews.123rf.com/images/jpldesigns/jpldesigns1110/jpldesigns111000064/11021495-stone-lantern-and-pruned-bonsai-tree-at-japanese-garden-in-san-francisco.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  padding: 20px;
}

.book-appointment-button {
  height: 100%;
  background-color: #AB6D23;
  text-decoration: none;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.search-bar-container {
  height: 30%;
  width: 100%;
  padding: 65px;
  border: 1px solid hotpink;
  display: flex;
  background-image: url('https://cyties.com/wp-content/uploads/2019/11/HB7-1500x1000.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-bar {
  height: 100%;
  background-color: white;
  padding: 20px;
  width: 65%;
  border-radius: 5px;
}

.featured-stylist-container {
  height: 300px;
  border: 1px solid greenyellow;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
}

.background-carousel {
  background-color: white;
}

.profile-picture {
  border: solid gold;
  width: 25%;
  height: 75%;
  margin-left: 3%;
  align-self: flex-end;
}

.featured-stylist-description {
  align-self: flex-end;
  border: 1px solid gold;
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popular-elements-container {
  height: 500px;
  border: 1px solid magenta;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.popular-cuts, .popular-styles, .trending-haircuts {
  width: 30%;
  border: 1px solid firebrick;
  height: auto;
}

.trending-haircuts {
  height: auto;
}

.popular-styles {
  height: 100%;
}

.footer {
  padding: 24px;
  /* overflow: hidden; */
}
