@import url(./css_reset.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    text-align: center;
    height: 100vh;
    border: 1px solid gray;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 125px;
    border: 1px solid green;
    background-color: #7097A8;
}

.nav-bar > a {
    color:white;
    text-decoration: none;
}

.logo {
    background-image: url("https://raw.githubusercontent.com/acrks/cutAbove/main/frontend/public/cutAboveLogoBold.png");
    width: 200px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* border: 1px solid blue; */
    filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(306deg) brightness(111%) contrast(100%);
}

.signup-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px;
    height: 10vh;
}

.signup-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.buttonforsignupform {
    border: 1px solid white;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #7097A8;
    border-radius: 5px;
}