.style-list {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.style-index-item {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
}

.style-photo {
  border: solid #493018;
  border-radius: 3px;
  height: 200px;
  width: 100%;
}

.style-index-item p {
  padding: 5px;
}

.style-index-item button {
  color: white;
  font-weight: 700;
  text-align: center;
  background-color: rgb(202, 17, 17);
  border-radius: 10px;
  padding: 5px;
}

.style-index-item button:hover {
  background-color: rgb(148, 11, 11);
  cursor: pointer;
}

.style-index-item button:active {
  background-color: rgb(173, 14, 14);  
}

.stylist-profile-pic {
  border: solid #493018;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.stylist-info ul {
  margin-bottom: 20px;
}

.style-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.style-form input {
  padding: 10px;
  margin-top: 10px;
}
.stylist-style-img-select input[type=file] {
  display: none;
}

.stylist-style-img-select {
  text-decoration: none;
  color: black;
  width: 100%;
  font-weight: 700;
  text-align: center;
  background-color: rgb(223, 237, 247);
  border-radius: 10px;
  padding: 20px;
}

.stylist-style-img-select:hover {
  cursor: pointer;
}

.upload-style-button {
  background-color: #7ab5c5;
}

.select-profile-pic {
  
  text-decoration: none;
  color: black;
  height: 60px;
  width: 100%;
  font-weight: 700;
  text-align: center;
  background-color: rgb(223, 237, 247);
  border-radius: 10px;
  padding: 20px;
  
}
.select-profile-pic {
  cursor: pointer;
}

.select-profile-pic input[type=file] {
  display: none;
}

.stylist-edit-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stylist-profile-page {
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 100%;
  margin-bottom: 40px;
}

.stylist-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.stylist-edit-form-container form {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.stylist-profile-pic-btn {
  background: none;
  color: black;
  height: 60px;
  width: 100%;
  font-weight: 700;
  text-align: center;
  background-color: rgb(223, 237, 247);
  border-radius: 10px;
  padding: 20px;
}

.stylist-profile-pic-btn input[type=submit] {
  display: none;
}

.stylist-profile-pic-btn:hover {
  cursor: pointer;
}

.style-pic-btn {
  text-decoration: none;
  color: black;
  width: 100%;
  font-weight: 700;
  text-align: center;
  background-color: rgb(223, 237, 247);
  border-radius: 10px;
  padding: 20px;
}

.style-pic-btn:hover {
  cursor: pointer;
}

.style-pic-btn input[type=submit] {
  display: none;
}

.style-images-edit-page {
  display: flex;
}
 